@mixin tablet() {
    @media screen and (min-width: 768px) and (max-width: 1024px) {
        @content;
    }
}

@mixin mobile() {
    @media screen and (max-width: 767px) {
        @content;
    }
}

@mixin media($min, $max) {
    @media screen and (min-width: $min) and (max-width: $max) {
        @content;
    }
}

// ! Text Style Mixins
@mixin heading($size: 60px, $color: #000) {
    color: #000;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    @content;
}

// ! Buttons Style Mixins
@mixin buttonPrimary($bgcolor: transparent, $padding: 20px 42px) {
    border-radius: 5px;
    padding: $padding;
    background: $bgcolor;

    @if ($bgcolor == transparent) {
        color: #09B451;
    }@else {
        color: #FFF;
    }
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    transition: all 0.3s ease;
    border-color: transparent;
    border-width: 1px;

    &:hover {
        @if ($bgcolor == transparent) {
            background: #09B451;
            color: #FFF;
            border-width: 1px;
        }@else {
            color: #09B451;
            background: transparent;
            border-color: #fff;
        }
        
    }
}